CONTABO_ACCESS_KEY=124764c16b37962bb5ef611ab39a5d0a
CONTABO_SECRET_KEY=6c822bab1d705a97269e535633d4f17ac2aba32d11ded381e7232bdbb1b47a2f
CONTABO_ENDPOIN=https://96a69260d2c6ccc3a808462374c90390.r2.cloudflarestorage.com
CONTABO_BASE_URL=https://promoboosted.com
CONTABO_BUCKET_NAME=thumbnail


CONTABO_ACCESS_KEY_V2=0ca7d4d761e5fef9f49309eaa03298ae
CONTABO_SECRET_KEY_V2=7258ac4c3016e46bf3d36cd04658d367
CONTABO_ENDPOIN_V2=https://sin1.contabostorage.com
CONTABO_BASE_URL_V2=https://sin1.contabostorage.com/f3dc5ccef6ea4e62b8fa33db51a4c53d
CONTABO_BUCKET_NAME_V2=video-dubber

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
RENDER_CONCURRENCY=
