name: Nest CI

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 22
        uses: actions/setup-node@v2
        with:
          node-version: 22.x
      - run: yarn install
      - run: yarn build